html
    body
        div
        #produc
            if produc
                table
                    tr
                        th Name
                        th Price
                        th Image
                    each produc in produc
                        tr
                            td= produc.name
                            td= produc.price
                            td
                                img(src=producto.image style="width: 50px;")
            else
                span No hay Productos
        a(href='/pug') añadir