<div >
	{{#if produc}}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
		    {{#each produc}}
			    <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <img src={{this.image}} style="width: 50px;"></img>
                    </td>
                </tr>
		    {{/each}}
        </table>
	{{else}}
		<span>no hay productos</span>
	{{/if}}

</div>
   